<template>
  <div class="home">
    <template v-if="shop.shop">
      <h1>{{ shop.shop.name }}</h1>
      <p>
        {{ shop.shop.description }}
      </p>
      <div class="accordion">
        <product
          :product="product.node"
          v-for="product in shop.products.edges"
          :key="product.node.id"
        />
      </div>
    </template>
    <div v-else>
      loading...
    </div>
  </div>
</template>

<script>
import Product from "@/components/Product.vue";
import gql from "graphql-tag";

export default {
  name: "Home",
  components: {
    Product
  },
  data() {
    return {
      shop: null
    };
  },
  apollo: {
    shop: {
      query: gql`
        {
          shop {
            name
            description
          }

          products(first: 5) {
            edges {
              node {
                id
                handle
                description
                title

                variants(first: 10) {
                  edges {
                    node {
                      id
                      displayName

                      image(maxWidth: 100) {
                        id
                        originalSrc
                      }

                      metafields(first: 5) {
                        edges {
                          node {
                            id
                            key
                            value
                            valueType
                            description
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            pageInfo {
              hasNextPage
            }
          }
        }
      `,
      update({ shop, products }) {
        return { shop, products };
      }
    }
  }
};
</script>
