<template>
  <div class="accordion__item">
    <div class="accordion-header">
      <slot name="header"></slot>

      <button @click="toggle = !toggle" class="btn-toggle">
        <svg
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 407.437 407.437"
          style="enable-background:new 0 0 407.437 407.437;"
          xml:space="preserve"
          width="100%"
        >
          <polygon
            points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 "
          />
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
        </svg>
      </button>
    </div>

    <transition
      name="accordion"
      @enter="start"
      @after-enter="end"
      @before-leave="start"
      @after-leave="end"
    >
      <div class="accordion-body" v-if="toggle">
        <slot name="body"></slot>
      </div>
    </transition>
  </div>
</template>
<script>
export default {
  name: "accordion",
  data() {
    return {
      toggle: false
    };
  },
  methods: {
    start(el) {
      el.style.height = el.scrollHeight + "px";
    },
    end(el) {
      el.style.height = "";
    }
  }
};
</script>

<style lang="css" scoped>
.btn-toggle {
  border: none;
  background: transparent;
  width: 40px;
  cursor: pointer;
}

.accordion__item {
  cursor: pointer;
  padding: 10px 20px 10px 40px;
  border-bottom: 1px solid #ebebeb;
  position: relative;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
}

.accordion-enter-active,
.accordion-leave-active {
  will-change: height, opacity;
  transition: height 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
}

.accordion-enter,
.accordion-leave-to {
  height: 0 !important;
  opacity: 0;
}
</style>
