<template>
  <div class="accordion__item">
    <accordion>
      <template #header>
        {{ product.title }}
      </template>
      <template #body>
        <div class="accordion-content">
          <select v-model="selectedVariant">
            <option :value="null">Select size</option>
            <option
              v-for="variant in product.variants.edges"
              :key="variant.node.id"
              :value="variant.node.id"
              >{{ variant.node.displayName }}</option
            >
          </select>
          <h5>Metafields:</h5>
          <ul class="list">
            <li
              v-for="meta in product.variants.edges[0].node.metafields.edges"
              :key="meta.node.key"
            >
              {{ meta.node.key }} : {{ meta.node.value }}
            </li>
          </ul>
          <button :disabled="isDisabled" class="btn-buy" @click="onBuy">
            Buy
          </button>
        </div>
      </template>
    </accordion>
  </div>
</template>
<script>
import CREATE_CHECKOUT from "@/graphql/createCheckout.gql";
import Accordion from "./Accordion";

export default {
  name: "product",
  components: {
    Accordion
  },
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  computed: {
    isDisabled: function() {
      if (this.selectedVariant && this.selectedVariant.length > 0) return false;
      else return true;
    }
  },
  data() {
    return {
      selectedVariant: null,
      toggle: false
    };
  },
  apollo: {
    $client: "apolloStorefrontClient"
  },
  methods: {
    onSelectVariant(i) {
      this.selectedVariant = i;
    },
    onBuy() {
      const i = {
        email: "test@example.com",
        lineItems: [
          {
            quantity: 1,
            variantId: this.selectedVariant
          }
        ]
      };

      this.$apollo
        .mutate({
          mutation: CREATE_CHECKOUT,
          variables: {
            input: {
              ...i
            }
          }
        })
        .then(({ data }) => {
          const { webUrl } = data.checkoutCreate.checkout;
          window.location.href = webUrl;
        });
    }
  }
};
</script>
<style scoped>
.list {
  list-style: none;
  text-align: left;
}

.btn-buy {
  background: black;
  border: none;
  color: white;
  border-radius: none;
  font-size: 16px;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 20px;
}

.btn-buy:disabled {
  background: grey;
}
</style>
